@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

body {
  background-color: rgb(194, 194, 194);

  font-family: 'Poppins', sans-serif;
  background-image: url("./img/background-img.jpg");
  font-size: 1.3rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
